.config/
.opera
.gem/
.gemrc
.gstreamer-0.10/
.lesshst
gemrc.opera/
.purple/
.ssh/
.vegas/
sku_pics.tar
          
.ICEauthority
.Skype/
.VirtualBox/
.adobe/
.aptitude/
.bash_aliases
.bash_history
.bash_logout
.bashrc
.cache/
.cheat/
.compiz/
.cheatonfig/
.dbshell
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gegl-0.0/
.gem/fontconfig#.gemrc
.gimp-2.6/
.gitconfig
.gitk
.gksu.lock
.gnome2/
.gemrcgstreamer-0.10/
.gtk-bookmarks
.htoprc
.irb-history
.java/
.lockesshst
.lftp/
.libreoffice/
.local/
.macromedia/
.mission-control/
.mozilla/
.mysql_history
.mysqlgui/
.nvidia-settings-rc
#mysqlgui.opera/
.pki/
.profile
.pry_history
.pulse-cookie
.pulse/
#mysqlgui.purple/
.rdebug_hist
.redcar/
.rvm/
.rvmrc
.selected_editor
          .ssh/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.VirtualBoxegas/
.viminfo
.vmc_instances
.vmc_target
.vmc_token
.xsession-errors
.xsession-errors.old
Aptana Studio 3 Workspace/
Aptana Studio 3/
Books/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
VirtualBox VMs/
code/
dotvim.tar.gz
erp_pdf/
examples.desktop
ftptest.rb
nohup.out
rubygems-1.7.2.tgz
rubygems-1.7.2/
nohupsku_pics.tar
vim_files.zip
vim_files/
vimrc
virtualbox/
yogurt.sh

